# Day Objectives
## Introduction to jupyter Notebook
**BOLD**


*ITALIAN*

*TEXT

<img src="jupyter logo.png">
1. ordered list 1


2. ordered list 2

3. ordered list 3

## Python Basics

In [1]:
'''ggkh
vgvjh
hgg''' # Using for Multi-Line comments
#->is for single Line comment

'ggkh\nvgvjh\nhgg'

In [2]:
## Variable Assignment
n = 123
n

123

In [3]:
n1 = n
n

123

In [4]:
n2 = n
n1

123

In [5]:
n1 = n2 = n3 = n
n1

123

In [8]:
n = 12
n = 10
n = 8
print(n)
n1 = 10
n1

8

10

In [17]:
a =10
a
type(a)

int

In [11]:
a =17
b

15

In [18]:
b =11.5
b
type(b)

float

In [15]:
c="NAME" # String should be either in single quote or double quotes
c

'NAME'

In [16]:
# type() is used to check the datatype
type(c)

str

In [26]:
# Type conversion:converting one datatype in to another
x = 10
print(x)
type(x)
y=str(x)
print(type(y))
print(float(x))

10
<class 'str'>
10.0

In [38]:
## Basic Arthematic Operations
##ADD
a = 10
b = 20
a + b

## subtraction
k = -2
j = -4
print(k - j)

## Multiplication
c=((a + b)* (k-j))

## Division
print(c/2)  # float value
print(c//2) # integer value

## Modulus
print(c%2)

2
30.0
30
0

In [42]:
print(10+20)
print(10-20)
print(100000123*1234565878)

30
-10
123456739651602994

In [43]:
a="k"
type(a)

str

In [44]:
## string values doesnot directly connect to the integer

In [45]:
## Indentation In Python plays a crucial role
## Nothing but space or tab
## Conditional Statements:To check whether the statement is true or false
### If,else,if-else,Nested if,Nested else

In [53]:
### if condition
## write a program to know how to use if condition
n=23
if (n%2==0):
    print("n is ana even number")
else:
    print("n is not an even number")

n is not an even number

In [54]:
a =int(input())
b =int(input())
if a>b:
    print("a is ihe biggest number")
else:
    print(" b is the biggest number")

10
30
 b is the biggest number

In [55]:
a=intput()
a

NameError: name 'intput' is not defined

In [56]:
a=input
a

In [57]:
a=input()
a

hello world

'hello world'

# String slicing

In [58]:
s="python
s"

SyntaxError: EOL while scanning string literal (<ipython-input-58-aa1174493440>, line 1)

In [59]:
s="python"
s

'python'

In [60]:
len(s) #Len() is a method to know the length of the string

6

In [61]:
s[5]

'n'

In [62]:
s[0]

'p'

In [63]:
s[3]

'h'

In [64]:
s[4]

'o'

In [66]:
s1=" python program"
len(s1)

15

In [67]:
s1[-1]

'm'

In [68]:
s1[len(s1)-1]

'm'

In [69]:
s1[-2]

'a'

In [70]:
s2[-3]

NameError: name 's2' is not defined

In [71]:
s1[-2]

'a'

In [76]:
k="name"
print(len(k))
print(k[len(k)-3])
print(k[-1])
print(k[-2])
print(k[len(k)-2])

4
a
e
m
m

In [79]:
s="python program a very efficient language"
print(s[-1])
print(s[len(s)-1])
print(s[50:100])

e
e

In [91]:
print(s[::-1]) #reverse of a string
print(s[::-2]) #to get even position of a reverse string

egaugnal tneiciffe yrev a margorp nohtyp
eaga niif rvamropnhy

In [93]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [94]:
a="python"
a.captalize()

AttributeError: 'str' object has no attribute 'captalize'

In [95]:
a="python welcome"
a.captalize()

AttributeError: 'str' object has no attribute 'captalize'

In [97]:
a="python welcome"
a.capitalize()

'Python welcome'

In [100]:
a="python welcome"
print(a)
a=a.capitalize()
print(a)
print(a.title())
print(a.upper())
print(a)
print(a.lower())

python welcome
Python welcome
Python Welcome
PYTHON WELCOME
Python welcome
python welcome

In [109]:
b="123"
b.isdigit()

True

In [118]:
# to check paalendrome or not
a=input()
if(a[0:5]==a[::-1]):
   print("a is palendrome")
else:
   print("a is not palendrome")

madam
a is palendrome

In [119]:
a=" python "
a.rstrip()

' python'

In [124]:
a.find('w')

-1

In [123]:
a.index('w')

ValueError: substring not found

In [125]:
a.count('w')

0

In [126]:
a="www"
a.count('w')

3

In [133]:
a=input()
b=input()
if(a[:]==b[:]):
    print("a and b are identical")
else:
    print("a and b are not identical")

jashu
sammu
a and b are not identical

# functions

In [141]:
#functions in python are defined bykeyword ""def""
#write a program to find leap year
def isleapyear(year):
   if((year%400==0)or(year%4==0 and year%100!=0)):
        print("leap year")
   else:
        print("not a leap year")
isleapyear(2020)

leap year

In [135]:
#program to find biggest of 3 numbers
def biggest(a,b,c):
    if(a>b and a>c):
        print("a is biggest")
    elif(b>c):
        print("b is biggest")
    else:
        print("c is biggest")

In [136]:
biggest(1,2,3)

c is biggest

In [137]:
biggest(6,4,7)

c is biggest

In [138]:
biggest(6,3,2)

a is biggest

In [142]:
biggest(1,2,1)

b is biggest

# loops

In [143]:
##initialization
##while(condition):
##increment

In [144]:
##for(initialization,condition,increment):

In [146]:
def naturalnumbers(n):
    for i in range(1,n+1,2):# first part is inclusive and second part is exclusive
        print(i)

naturalnumbers(10)

1
3
5
7
9

In [151]:
#program to print even numbers from 1-20            
def even(n): 
    for i in range(0,n+1,2):    
        print(i)

In [152]:
even(20)

0
2
4
6
8
10
12
14
16
18
20

In [157]:
#program to find odd numbers by skip 3 and 5
def odd(n):
    for i in range(1,n+1,3):
             if(i%2!=0):
                print(i)

In [158]:
odd(40)

1
7
13
19
25
31
37

In [164]:
#write a program to print factors of n
def factors(n):
    for i in range(1,n+1):
        if(n%i==0):
          print(i)

In [165]:
factors(6)

1
2
3
6

In [176]:
#write a program to find factorial of n
def factorial(num):
    factorial=1
    for i in range(1,num,+1):
        factorial=factorial*i
    print("The factorial",factorial)
factorial(10)

The factorial 362880

In [1]:
a= "this is python programming"
a.split()

['this', 'is', 'python', 'programming']

In [2]:
a= "this is jashu"
a.split()

['this', 'is', 'jashu']

In [ ]:
a=input()